header {
  display: flex;
  justify-content: space-between;
  width: auto;
  border: 1px solid blue;
  border-radius: 10px;
  background-color: hsla(231, 55%, 41%, 0.918);
  align-items: center;
  margin: 20px 10px; 
}

header .logo {
  border: 2px solid hsla(231, 55%, 41%, 0.918);
  border-radius: 10px;
  padding: 10px;
  width: 10%;
}

header h1 {
  margin: 0;
  font-size: 45px;
  color: white;
}

header ul {
  margin-top: 50px;
  margin-right: 70px;
}

a {
  text-decoration: none;
  font-weight: bold;
  font-size: large;
}

.iconoInicio {
  list-style-image: url(../imagenes/home.png);
}

.iconoCarrito {
  list-style-image: url(../imagenes/carrito2.jpg);
}

.iconoContacto {
  list-style-image: url(../imagenes/contacto.png);
}

.enlace:hover {
  color: darkgoldenrod;
  cursor: pointer;
}

.enlace:link {
  color: darkgoldenrod;
}

.enlace:active {
  color: darkgoldenrod;
  background-color: aqua;
}

.enlace:visited {
  color: darkgoldenrod;
  background-color: #d6c6e6;
}

body {
  height: 100%;
  font-family: sans-serif, Verdana, Geneva, Tahoma;
  background-image: url("../imagenes/frente.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.centrar {
  text-align: center;
  background-color: black;
  width: 600px;
  height: auto;
  margin: 10px auto;
  border: 20px solid hsla(231, 55%, 41%, 0.918);
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #fbfbfb;
  padding-left: 30px;
  justify-content: center;
}

.secLegales {
  display: flex;
  justify-content: center;
  margin: 0;
}

.contenedor {
  display: flex;
  padding: 10px;
  width: 50%;
  height: 50%;
  justify-content: center;
}

.contenedor h2 {
  margin-top: 0%;
}

.divLegales {
  padding: 10px;
  width: 90%;
  height: 350px;
  margin: px;
  border: solid 1px blue;
  text-align: justify;
  overflow-y: auto;
}

footer {
  width: auto;
  border: solid 1px blue;
  border-radius: 10px;
  background-color: hsla(231, 55%, 41%, 0.918);
  margin: 20px 10px; 
}

footer nav {
  text-align: center;
}

footer p {
  color: white;
}